/mdm-darwin-amd64
/mdm-darwin-arm64
/mdm/mdm
/**/node_modules
/test.sh
/html/*.sh
/scf.zip
/server/bash-obfuscate
/custom/rust_client/target
/custom/dev/dist
!/server/logs/app.log
/xgo
/bash-obfuscate
filtered_app.log
functions
.env
/**/test.*
/**/mdm
/**/server
.github/mysql-backup-*.zip
.github/client_logs.json
